<div class="jumbotron">
  <h1 class="display-4">Mongo Scraper</h1>
  <p class="lead">Vogue Edition</p>
  <hr class="my-4">
  <p>All the top headline articles, available for your curation.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">See New Headlines</a>
  <a class="btn btn-primary btn-lg" href="/saved" role="button">Your Saved Articles</a>
</div>


{{#each article}}
<div class="card">
  <div class="card-header">{{author}}</div>
  <div class="card-body">
    <h5 class="card-title"><a class="links" href={{link}}>{{title}}</a></h5>
    <img src={{img}}>
    <button type="button" class="btn btn-primary" data-id={{_id}} data-toggle="modal" data-target="#exampleModal">Leave a comment</button>
    <button class="btn btn-primary" id= "save-button" data-id={{_id}}>Save this Article</button>
  </div>
</div>
{{/each}}







<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <div class="form-group">
            <label for="exampleFormControlTextarea1">Your Comments</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save-note">Save changes</button>
      </div>
    </div>
  </div>
</div>